<nav class="bg-primary">
  <div class="container">
    <ul class="d-none d-lg-flex py-3">
      <li class="mr-7"><a href="#" class="text-lg text-white py-3">CHANEL</a></li>
      <li class="mr-7"><a href="#" class="text-lg text-white py-3">Jo Malone</a></li>
      <li class="mr-7"><a href="#" class="text-lg text-white py-3">Curology</a></li>
      <li class="mr-7"><a href="#" class="text-lg text-white py-3">Dior</a></li>
      <li class="mr-7"><a href="#" class="text-lg text-white py-3">Chloe</a></li>
      <li class="mr-7"><a href="#" class="text-lg text-white py-3">ZARA</a></li>
    </ul>
  </div>
</nav>