<footer class="bg-primary">
  <div class="container d-flex py-5 align-items-center justify-content-between justify-content-lg-start">
    <a href="#" class="logo logo-white mr-5"></a>
    <p class="text-2_sm text-white mb-0 font-weight-normal">© 2020. All Rights Reserved.</p>
    <ul class="nav ml-auto d-none d-lg-flex text-lg">
      <li class="nav-item mr-9">
        <a class="nav-link text-white px-0" href="#">Product</a>
      </li>
      <li class="nav-item mr-9">
        <a class="nav-link text-white px-0" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-0" href="#">Contact</a>
      </li>
    </ul>
  </div>
</footer>