<nav class="navbar bg-white sticky-top shadow-sm navbar-expand-lg navbar-light px-5 px-lg-0">
  <div class="container">
    <a class="logo logo-primary" href="./index.html">Navbar</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons text-2_xl">menu</span>
    </button>
    <div class="collapse navbar-collapse mx-n5 mt-2 mb-n2" id="navbarNav">
      <ul class="navbar-nav d-block d-lg-none">
        <li>
          <a class="btn btn-secondary w-100 py-4 text-center text-white text-lg rounded-0 border-bottom" href="./product.html">Product</a>
        </li>
        <li>
          <a class="btn btn-secondary w-100 py-4 text-center text-white text-lg rounded-0 border-bottom" href="#">Wishlist</a>
        </li>
        <li>
          <a class="btn btn-secondary w-100 py-4 text-center text-white text-lg rounded-0 border-bottom" href="#">Blog</a>
        </li>
        <li>
          <a class="btn btn-secondary w-100 py-4 text-center text-white text-lg rounded-0 border-bottom" href="#">Contact</a>
        </li>
        <li>
          <a class="btn btn-secondary w-100 py-4 text-center text-white text-lg rounded-0" href="./login.html">log in</a>
        </li>
      </ul>
    </div>
    <ul class="ml-auto navbar-nav d-none d-lg-flex text-lg">
      <li class="nav-item mr-8">
        <a class="nav-link px-0" href="./product.html"><span class="material-icons mr-1 vertical-middle">store</span>Product</a>
      </li>
      <li class="nav-item mr-8">
        <a class="nav-link px-0" href="./login.html"><span class="material-icons mr-1 vertical-middle">person</span>log in</a>
      </li>
      <li class="nav-item mr-8">
        <a class="nav-link px-0" href="#"><span class="material-icons mr-1 vertical-middle">favorite</span>Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0" href="#"><span class="material-icons mr-1 vertical-middle">shopping_cart</span>Cart(3)</a>
      </li>
    </ul>
  </div>
</nav>