<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="font-weight-semibold text-xl text-secondary mb-5">記得<br />訂閱以獲取更多資訊！</h2>
        <div class="input-group">
          <input type="text" class="form-control py-5 px-4 h-auto text-secondary border-2 border-primary rounded-left" placeholder="Your email address">
          <div class="input-group-append">
            <button class="btn btn-primary px-6" type="button">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>