.container {
  @include make-container();
}

/*
.example-container {
  width: 800px;
  @include make-container();
}
*/

.container {
  max-width: 1140px;
  @include response-degin(md) {
    padding: 0 39px;
  }
  @include response-degin(sm) {
    padding: 0 15px;
  }
}

.row {
  @include make-row();
}

@each $key, $val in map-reverse($breakpoints) {
  $infix: breakpoint-infix($key, $breakpoints);
  @include response-degin($key) {
    @include generatorDisplays($infix);
    @include generatorFlexContainerProperties($infix);
    @include generatorFlexAxisProperties($infix);
    @include generatorColumns($infix);
  }
};