.text-edit {
  height: 0;
  width: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
  position: absolute;
  right: 32px;
  bottom: 32px;
  overflow: hidden;
  &-header {
    background: var(--light);
    padding: 16px 24px;
    display: flex;
    align-items: center;
  }
  &-body {
    padding: 16px 24px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .textarea {
    font-size: 16px;
  }
  &.show {
    transition: all .3s ease-in-out;
    height: auto;
    opacity: 1;
    width: 700px;
  }
}