<footer class="container bg-light p-2">
  <div class="d-flex align-items-center justify-content-between">
    <ul class="list-unstyled d-flex">
      <li class=""><a href="" class="font-weight-bold p-2">Product</a></li>
      <li class=""><a href="" class="font-weight-bold p-2">Blog</a></li>
      <li class=""><a href="" class="font-weight-bold p-2">contact</a></li>
    </ul>
    <p class="text-secondary text-sm">© 2020 Fixie. All Rights Reserved.</p>
    <a href="" class="logo mr-2"></a>
  </div>
</footer>