$gutter: 30px !default;
$grid-count : 12 !default;
$space-base: .25rem;

$colors: (
  primary: blue,
  secondary: gray,
  success: green,
  warning: orange,
  danger: red,
  black: black,
  white: white
);

$directions: (
	t: top,
	r: right,
	b: bottom,
	l: left
);

$breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 992px
);

$displays: inline, block, inline-block, flex;

// flex
$flex-directions: row, row-reverse, column, column-reverse;

$flex-container-properties: (
  start: flex-start,
  end: flex-end,
	center: center,
	around: space-around,
	between: space-between,
	baseline: baseline,
	stretch: stretch
);

$font-weights: (
  thin: 100,
  light: 300,
	regular: 400,
	bold: 700,
	black: 900,
);