html, body {
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.vertical-middle {
  vertical-align: middle;
}

.font-weight-black {
  font-weight: 900;
}

.font-family-Merri {
  font-family: "Merriweather";
}

.image-fluid {
  max-width: 100%;
  height: var(--index-image-height);
  object-fit: cover;
}

.absolute-left-center {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.absolute-right-center {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.absolute-right-top {
  top: 0;
  right: 0;
}

.logo {
  width: 112px;
  height: 48px;
  @include hide-text;
  background-image: url('./../images/fixie.svg');
  background-position: center center;
  background-size: cover;
}

.banner {
  height: 864px;
}

.premium {
  height: 640px;
  padding: 77px 0;
  background-image: url('./../images/img4.jpg');
  background-position-x: center;
  background-position-y: 15%;
  background-size: cover;
}

.card-header {
  @include aspect-ratio(3, 4);
  overflow: hidden;
}

.z-100 {
  z-index: 100;
}