html, body {
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.font-weight-black {
  font-weight: 900;
}

.font-italic {
  font-family: "Merriweather";
}

.image-fluid {
  max-width: 50%;
  height: var(--index-image-height);
  object-fit: cover;
}

.logo {
  width: 112px;
  height: 48px;
  @include hide-text;
  background-image: url('./../images/fixie.svg');
  background-position: center center;
  background-size: cover;
}

.banner {
  height: 864px;
  position: relative;
  &-img {
    right: 0;
    top: 0;
  }
}