.article {
  margin-bottom: 304px;
  .title {
    font-size: 48px;
    line-height: 67px;
  }
  .h4 {
    font-size: 28px;
    line-height: 37px;
  }
  &__text {
    color: #0A0A0A;
    margin-bottom: 36px;
    &:last-of-type {
      margin-bottom: 50px;
    }
  }
  .footer p {
    border-bottom: 1px solid #000;
  }
  .footer ul {
    font-size: 19px;
  }
  @include response-degin(md) {
    margin-bottom: 104px;
    .title {
      font-size: 32px;
      line-height: 45px;
      color: var(--primary);
    }
    .h4 {
      font-size: 16px;
      line-height: 21px;
    }
    &__text {
      margin-bottom: 24px;
      &:last-of-type {
        margin-bottom: 27px;
      }
    }
    .footer ul {
      font-size: 16px;
    }
  }
  @include response-degin(sm) {
    margin-bottom: 39px;
    .h4 {
      font-size: 14px;
      line-height: 24px;
    }
    &__text {
      &:last-of-type {
        margin-bottom: 31px;
      }
    }
  }
}