.card {
  .card-header {
    position: relative;
  }
  .card-body {
    padding-top: 2px;
  }
}

.card.sold-out {
  .card-header::after {
    content: 'Sold out';
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: px2rem(24px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 10;
  }
}

.line-through {
  text-decoration: line-through;
}