.pagination {
  margin-bottom: 156px;
  .prev,
  .next,
  .page {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #555555;
    color: #555;
  }
  .prev,
  .next {
    font-size: 19px;
    width: 81px;
  }
  .page {
    width: 41px;
    font-size: 18px;
  }
  .active {
    background: #000;
    color: #FFFFFF;
    cursor: auto;
  }
  .disabled {
    background: #F2F2F2;
    cursor: auto;
  }
  @include response-degin(md) {
    margin-bottom: 104px;
  }
  @include response-degin(sm) {
    margin-bottom: 56px;
    .prev,
    .next {
      font-size: 12px;
    }
    .page {
      font-size: 11px;
    }
  }
}