<header class="font-bold pb-7 d-flex align-items-center w-100">
  <h2 class="text-2_lg mr-9">Admin</h2>
  <button type="button" class="font-bold btn mr-auto hover-primary add-admin" data-target="userDataModal" data-action="add">
    <i class="material-icons mr-2 vertical-middle text-primary">add</i>
    Add New Admin
  </button>
  <button type="button" class="material-icons mr-6 btn-icon hover-primary">search</button>
  <button type="button" class="material-icons btn-icon hover-danger">notifications_active</button>
</header>