<header class="font-bold pb-7 d-flex align-items-center w-100">
  <h2 class="text-2_lg mr-9">Assignment</h2>
  <div class="dropdown d-flex align-items-center mr-auto">
    All Courses
    <button type="button" class="arrow material-icons vertical-middle text-primary">keyboard_arrow_down</button>
  </div>
  <button type="button" class="material-icons mr-6 btn-icon hover-primary">search</button>
  <button type="button" class="material-icons btn-icon hover-danger">notifications_active</button>
</header>