<div class="modal modal-overlay" id="userPhotoModal">
  <div class="modal-content">
    <div class="modal-body p-7">
      <div class="user d-flex flex-wrap" id="userDetial">
        <img src="./assets/images/emir.jpeg" alt="" class="mr-6 user__img">
        <div class="user__content">
          <p class="d-flex align-items-center justify-content-between mb-2">
            #1<button type="button"class="material-icons" data-dismiss="modal">clear</button>
          </p>
          <p>Admin</p>
          <p class="text-2_lg font-bold mb-2 name">Emir Wicks</p>
          <p class="text-2_sm text-black-50 mb-6">emir.wicks@mail.com</p>
          <div class="d-flex align-items-center justify-content-between text-2_sm">
            <p class="py-1 px-2 bg-light">verified</p>
            <button type="button"class="material-icons text-primary showBtn">keyboard_arrow_down</button>
          </div>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-end mt-7">
          <button type="button" class="btn py-2 px-7 btn-outline-danger mr-4">deactivate</button>
          <button type="button" class="btn py-2 px-7 btn-primary update-btn">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>