.header {
  height: 840px;
  background-position: center;
  background-size: cover;
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true');
  .title {
    @include text-size(64px);
    line-height: 1.5;
  }
  .text {
    @include text-size(36px);
    line-height: 1.5;
  }
}

.subtitle {
  margin-bottom: 60px;
  @include text-size(48px);
  line-height: 1.5;
  // pad
  @include RWD(768px) {
    margin-bottom: 32px;
    @include text-size(32px);
  }
  // phone
  @include RWD(375px) {
    margin-bottom: 20px;
    @include text-size(24px);
    line-height: 2;
  }
}
.about,
.products,
.design,
.rec,
.contactus {
  padding-top: 64px;
  padding-bottom: 80px;
  @include RWD(768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  // phone
  @include RWD(375px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.about {
  .col-3.col-md-6.col-sm-12 {
    padding: 0 calc((25% - 208px) / 2);
  }
  &__tag {
    @include text-size(24px);
    line-height: 1.5;
  }
  &__content {
    @include text-size(16px);
    line-height: 1.5;
  }
}

.products {
  &__text {
    @include text-size(48px);
    line-height: 1.5;
    font-style: italic;
    text-transform: uppercase;
  }
  .mobile-show {
    display: none;
  }
}

.design {
  background-image: url('https://images.unsplash.com/photo-1534865401098-e950b26b2c78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
  background-size: cover;
  background-position: 0px 57%;
  &__item {
    position: relative;
  }
  &__rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.5);
  }
  &__text {
    @include text-size(72px);
    line-height: 1.5;
  }
}

.rec {
  &__img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }
  &__content {
    padding: 14px 16px 15px 16px;
    border: 1px solid #DEE2E6;
    border-top: none;
  }
  &__name {
    @include text-size(14px);
    line-height: 1.5;
    margin-bottom: 7px;
  }
  &__text {
    @include text-size(16px);
    line-height: 1.5;
    margin-bottom: 10px;
  }
  &__time {
    @include text-size(14px);
    line-height: 1.5;
    color: #707070;
  }
}

.contactus {
  .subtitle {
    margin-bottom: 24px;
  }
  &__text {
    @include text-size(20px);
    line-height: 1.5;
  }
}

form {
  .form-field {
    display: block;
    width: 100%;
  }
  .form-check {
    display: flex;
    align-items: flex-start;
    margin-bottom: 42px;
  }
  .label,
  .input,
  .textarea,
  .btn {
    @include text-size(16px);
    line-height: 1.5;
  }
  .label {
    display: block;
    margin-bottom: 4px;
  }
  .input,
  .textarea {
    width: 100%;
    padding: 14px 0 14px 16px;
    border: 1px solid #000000;
  }
  .checkbox {
    margin-right: 4px;
  }
  .btn {
    width: calc(50% - 30px);
    cursor: pointer;
    transition: all .3s;
  }
  .btn-primary {
    background: var(--tertiary);
    color: #fff;
    &:hover,
    &:focus {
      opacity: .75;
    }
  }
}

@include RWD(768px) {
  .header {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true');
    .title {
      @include text-size(48px);
    }
    .text {
      @include text-size(20px);
    }
  }
  .about {
    padding-bottom: 80px;
    .col-3.col-md-6.col-sm-12 {
      padding: 0 calc((50% - 237px) / 2);
    }
  }
  .products {
    &__item {
      &:nth-child(2) {
        flex-direction: row;
      }
    }
    &__text {
      @include text-size(28px);
    }
  }
  .design {
    &__text {
      @include text-size(32px);
      line-height: 25px;
    }
  }
  .rec {
    &__item:nth-child(-n+2) {
      margin-bottom: 28px;
    }
    &__content {
      padding: 16px;
    }
  }
  .contactus {
    .subtitle {
      margin-bottom: 16px;
    }
    &__text {
      @include text-size(16px);
    }
  }
  form {
    .form-check {
      margin-bottom: 20px;
    }
    .label,
    .input,
    .textarea,
    .btn {
      @include text-size(14px);
    }
    .label {
      margin-bottom: 2px;
    }
    .input,
    .textarea {
      padding: 8px 0 8px 12px;
    }
    .checkbox {
      margin-right: 2px;
    }
  }
}

@include RWD(375px) {
  .header {
    height: 394px;
    .title {
      @include text-size(32px);
      line-height: 2.25;
    }
    .text {
      @include text-size(16px);
      line-height: 30px;
    }
  }
  .about {
    padding-bottom: 52px;
    .col-3.col-md-6.col-sm-12 {
      padding: 0 calc((100% - 237px) / 2);
    }
  }
  .products {
    .col {
      display: none;
    }
    .mobile-show {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .rec {
    &__item:nth-child(-n+3) {
      margin-bottom: 16px;
    }
  }
  form {
    .form-check {
      margin-bottom: 24px;
    }
  }
}