---
title: 系列鏡框
layout: ./app/layout.ejs
engine: ejs
current: index
---

<nav class="tabs">
  <ul>
    <li><a href="optical.html" class="tab"><img src="" alt="" class="icon">OPTICAL</a></li>
    <li><a href="sunglasses.html" class="tab"><img src="" alt="" class="icon">SUNGLASSES</a></li>
    <li><a href="#" class="tab"><img src="" alt="" class="icon">FUNCTIONAL</a></li>
  </ul>
</nav>

<%- contents %>

<ul class="pagination">
  <li><a href="#" class="prev">上一頁</a></li>
  <li><a href="#" class="page">1</a></li>
  <li><a href="#" class="page">2</a></li>
  <li><a href="#" class="page">3</a></li>
  <li><a href="#" class="page">4</a></li>
  <li><a href="#" class="page">5</a></li>
  <li><a href="#" class="next">下一頁</a></li>
</ul>