<nav class="tabs">
  <ul class="d-flex text-center font-medium">
    <li class="tab">
      <a href="optical.html" class="releative d-block py-4 py-md-3 py-sm-1"><img src="./assets/images/series/icon-diamond-black.svg" alt="" class="icon">OPTICAL</a>
    </li>
    <li class="tab">
      <a href="sunglasses.html" class="releative active d-block py-4 py-md-3 py-sm-1"><img src="./assets/images/series/icon-sun-black.svg" alt="" class="icon">SUNGLASSES</a>
    </li>
    <li class="tab">
      <a href="#" class="releative d-block py-4 py-md-3 py-sm-1"><img src="./assets/images/series/icon-thunder-black.svg" alt="" class="icon">FUNCTIONAL</a>
    </li>
  </ul>
</nav>