body,html {
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,p, ul, dl {
  margin-bottom: 0;
}

ul,ol {
  list-style: none;
  padding-left: 0;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position:center
}

.logo {
  width: 128px;
  height: 38px;
  @include hide-text;
  vertical-align: middle;
}

.logo-primary {
  background-image: url('../images/d’Perfume.png');
}

.logo-white {
  background-image: url('../images/d’Perfumewhite.png');
}

.vertical-middle {
  vertical-align: middle;
}

.absolute-right-0 {
  @include response-degin(md) {
    position: absolute;
    right: 0;
  }
}

.absolute-top-center {
  top: 0;
  left: 50%;
}

.border-2 {
  border-width: 2px;
  border-style: solid;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.align-items-around {
  align-items: space-around;
}

.jumbotron {
  height: 480px;
  background-image: url('../images/index/index1.jpg');
  background-position: center;
  background-size: cover;
  @include response-degin(lg) {
    height: 870px;
  }
}

.intro {
  &-img {
    width: 100%;
    &.normal {
      height: 350px;
    }
    &.lg {
      height: 680px;
    }
  }
  &-content {
    padding-top: 8px;
    padding-bottom: 32px;
  }
  @include response-degin(lg) {
    &-img {
      &.normal {
        height: 555px;
      }
      &.lg {
        height: 1080px;
      }
    }
    &-content {
      max-width: percentage(350/555);
    }
  }
}

.modal-sm {
  margin: auto;
  max-width: 300px;
}

.subscribe {
  height: 600px;
  background-image: url('../images/index/index10.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 312px;
  padding-bottom: 112px;
}

.product-i-img {
  width: 100%;
  object-position: bottom;
  height: 350px;
  @include response-degin(lg) {
    height: 540px;
  }
}

.product-img {
  width: 100%;
  object-position: center;
  height: 165px;
  @include response-degin(md) {
    height: 255px;
  }
}

.detial-xl-img {
  height: 640px;
}

.detial-md-img {
  height: 460px;
}

.detial-img {
  height: 220px;
  @include response-degin(md) {
    height: 460px;
  }
}

.login-img {
  width: 100%;
  height: 220px;
  @include response-degin(md) {
    height: 460px;
  }
  @include response-degin(lg) {
    height: 730px;
  }
}

.line-through {
  text-decoration: line-through;
  color: #8D8D8D;
}

.member-nav {
  .active::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: -4px;
    height: 2px;
    background: var(--primary);
  }
}